global:
  scrape_interval: 15s

scrape_configs:
{% for target in federation_targets %}
  - job_name: '{{ target.name }}'
    honor_labels: true
    metrics_path: '/federate'
    params:
      'match[]':
        - '{__name__=~".+"}'
    static_configs:
      - targets: ['{{ target.host }}:{{ target.port }}']
{% endfor %}

